body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    background-color: #F7DBA7;
    max-width: 80%;
    /* height: 60%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.quiz-tracker {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#quiz-question {
    margin-bottom: 20px;
    text-decoration: underline;
}

.answer-buttons {
    border: 1px solid black;
    border-radius: 10px;
    /* margin: 10px; */
    padding: 5px;
    background-color: #F7DBA7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.answer-buttons:hover {
    background-color: lightblue;
}

#submit-button {
    background-color: #99B2DD;
    border-radius: 5px;
}

.flex-with-gap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50%;
    justify-content: center;
}